// $color-mode-type: data;

// @include color-mode(light) {

[data-bs-theme='light'],
[data-bs-theme='auto'] {
  // Gray
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f1f1f1;
  --gray-4: #ebebeb;
  --gray-5: #e4e4e4;
  --gray-6: #ddd;
  --gray-7: #d4d4d4;
  --gray-8: #bbb;
  --gray-9: #8d8d8d;
  --gray-10: grey;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-a1: rgba(0, 0, 0, 0.012);
  --gray-a2: rgba(0, 0, 0, 0.024);
  --gray-a3: rgba(0, 0, 0, 0.055);
  --gray-a4: rgba(0, 0, 0, 0.078);
  --gray-a5: rgba(0, 0, 0, 0.106);
  --gray-a6: rgba(0, 0, 0, 0.133);
  --gray-a7: rgba(0, 0, 0, 0.169);
  --gray-a8: rgba(0, 0, 0, 0.267);
  --gray-a9: rgba(0, 0, 0, 0.447);
  --gray-a10: rgba(0, 0, 0, 0.498);
  --gray-a11: rgba(0, 0, 0, 0.608);
  --gray-a12: rgba(0, 0, 0, 0.875);

  // Slate
  --slate-1: #fcfcfd;
  --slate-2: #f9f9fb;
  --slate-3: #f0f0f3;
  --slate-4: #e8e8ec;
  --slate-5: #e0e1e6;
  --slate-6: #d9d9e0;
  --slate-7: #cdced6;
  --slate-8: #b9bbc6;
  --slate-9: #8b8d98;
  --slate-10: #80838d;
  --slate-11: #60646c;
  --slate-12: #1c2024;

  --slate-a1: #00005503;
  --slate-a2: #00005506;
  --slate-a3: #0000330f;
  --slate-a4: #00002d17;
  --slate-a5: #0009321f;
  --slate-a6: #00002f26;
  --slate-a7: #00062e32;
  --slate-a8: #00083046;
  --slate-a9: #00051d74;
  --slate-a10: #00071b7f;
  --slate-a11: #0007149f;
  --slate-a12: #000509e3;

  // Orange
  --orange-1: #fefcfb;
  --orange-2: #fff8f4;
  --orange-3: #ffedd5;
  --orange-4: #ffe0bb;
  --orange-5: #ffd3a4;
  --orange-6: #ffc291;
  --orange-7: #ffaa7d;
  --orange-8: #ed8a5c;
  --orange-9: #f76808;
  --orange-10: #ed5f00;
  --orange-11: #99543a;
  --orange-12: #582d1d;

  --orange-a1: rgba(192, 67, 5, 0.016);
  --orange-a2: rgba(255, 97, 5, 0.044);
  --orange-a3: rgba(255, 145, 1, 0.165);
  --orange-a4: rgba(255, 140, 1, 0.267);
  --orange-a5: rgba(255, 132, 0, 0.357);
  --orange-a6: rgba(255, 115, 1, 0.432);
  --orange-a7: rgba(255, 89, 0, 0.51);
  --orange-a8: rgba(227, 72, 0, 0.64);
  --orange-a9: rgba(247, 99, 0, 0.969);
  --orange-a10: #ed5f00;
  --orange-a11: rgba(123, 33, 0, 0.773);
  --orange-a12: rgba(67, 18, 0, 0.887);

  // Blue
  --blue-1: #fbfdff;
  --blue-2: #f5faff;
  --blue-3: #edf6ff;
  --blue-4: #e1f0ff;
  --blue-5: #cee7fe;
  --blue-6: #b7d9f8;
  --blue-7: #96c7f2;
  --blue-8: #5eb0ef;
  --blue-9: #0091ff;
  --blue-10: #0880ea;
  --blue-11: #0b68cb;
  --blue-12: #113264;

  --blue-a1: rgba(5, 130, 255, 0.016);
  --blue-a2: rgba(5, 130, 255, 0.04);
  --blue-a3: rgba(2, 128, 255, 0.071);
  --blue-a4: rgba(1, 128, 255, 0.118);
  --blue-a5: rgba(1, 130, 250, 0.193);
  --blue-a6: rgba(1, 119, 230, 0.283);
  --blue-a7: rgba(0, 119, 223, 0.412);
  --blue-a8: rgba(0, 130, 230, 0.632);
  --blue-a9: #0091ff;
  --blue-a10: rgba(0, 125, 233, 0.969);
  --blue-a11: rgba(0, 97, 201, 0.957);
  --blue-a12: rgba(0, 36, 89, 0.934);

  // Custom
  .btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--orange-4);
    --bs-btn-bg: var(--orange-10);
    --bs-btn-border-color: var(--orange-10);
    --bs-btn-hover-color: var(--orange-2);
    --bs-btn-hover-bg: var(--orange-9);
    --bs-btn-hover-border-color: var(--orange-9);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
  }

  .navbar {
    background-color: var(--orange-10);
    .nav-link {
      color: var(--orange-4);
      &:hover {
        color: var(--orange-2);
      }
    }
    .navbar-brand {
      color: var(--orange-2);
    }
    .navbar-toggler {
      color: var(--orange-2);
      border-color: transparent;
    }
    .offcanvas {
      background-color: var(--orange-a7);
      border-left-color: var(--orange-10);
      &.show,
      &.hiding,
      &.showing {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        .nav-link,
        .navbar-brand {
          color: var(--orange-4);
        }
      }
    }
    .bd-mode-toggle {
      .btn-bd-primary {
        color: var(--orange-4);
        &:hover {
          color: var(--orange-2);
        }
      }
    }
    .offcanvas-header {
      .close-btn {
        color: var(--orange-4);
      }
    }
  }

  .hero {
    h1,
    p {
      color: var(--slate-1);
      text-shadow: 1px 1px 2px var(--slate-9);
      span {
        color: var(--orange-10);
      }
    }
  }

  // #nav-about {
  //   background: linear-gradient(to bottom, #88888a, var(--slate-3));
  // }

  footer {
    p {
      background-color: var(--orange-10);
      color: var(--orange-4);
    }
  }
} // end of data-bs-theme light
