---
import Layout from '../layouts/LayoutBasic.astro';
---

<Layout title="Tentoden - Whio is Rich Slezak">
  <section id="nav-whois">
    <div class="container">
      <div class="heading">
        <!-- <h1 class="display-4">Introduction</h1> -->
        <p class="lead fs-4">
          Hello, I'm Richard Slezak, and I'd like to offer a unique perspective in today's
          ever-evolving job market. While digital platforms often emphasize work history, I believe
          it's crucial to highlight personal skills that frequently go unnoticed. To assist you in
          making an informed choice, I've compiled a list of my attributes and abilities. Whether
          it's a solo project or team collaboration, I'm here to bring a distinctive touch to the
          table. Thank you for your time and consideration.
        </p>
      </div>
      <div class="mb">
        <h3 class="display-6 mb-4">Personal Attributes</h3>
        <ul>
          <li>
            Harmony <small>Promotes peace, cooperation, consensus, and minimizes conflicts.</small>
          </li>
          <li>
            Relater <small
              >Building relationships, emphasizing loyalty, trust, and deep connections.</small
            >
          </li>
          <li>
            Charismatic <small
              >Possessing a likable personality, easily forging connections, and fitting in with
              others.</small
            >
          </li>
          <li>
            Adaptive <small>Skilled at adjusting to different situations and environments.</small>
          </li>
          <li>
            Considerate <small>Always thinking about the well-being of those around me.</small>
          </li>
          <li>Empathetic <small>Able to understand and relate to others' perspectives.</small></li>
          <li>
            Instilling Confidence <small>Inspiring those around me to strive for their best.</small>
          </li>
          <li>
            Morale Boosting <small>Bringing positive energy and motivation to any situation.</small>
          </li>
          <li>
            Learning <small>An avid learner, continually expanding knowledge and skills.</small>
          </li>
          <li>Observant <small>Keenly aware of everything in my proximity.</small></li>
          <li>
            Forward Thinking <small
              >Always contemplating future possibilities and opportunities.</small
            >
          </li>
          <li>
            Deliberative <small
              >Makes careful, informed decisions by weighing options and pros and cons.</small
            >
          </li>
          <li>
            Multi-Tasking <small
              >Capable of efficiently handling multiple tasks simultaneously.</small
            >
          </li>
        </ul>
      </div>
      <div class="mb">
        <h3 class="display-6 mb-4">Skills & Expertise</h3>
        <ul>
          <li>Design <small>Proficient in graphic, web, UI, and UX design.</small></li>
          <li>
            Development <small
              >Creating everything from landing pages to full websites and SPAs.</small
            >
          </li>
          <li>
            Design-Dev Liaison <small
              >Adept at bridging the gap between design and development teams.</small
            >
          </li>
          <li>
            Bridge Tech and Non-Tech <small
              >Effective communication and translation between technical and non-technical
              stakeholders.</small
            >
          </li>
          <li>
            Attention to Detail <small
              >Ensuring that even the smallest details do not go unnoticed.</small
            >
          </li>
          <li>
            Customer Service <small>Excelling in client interactions to meet their needs.</small>
          </li>
          <li>
            Management <small>Proficient in client, peer, project, and product management.</small>
          </li>
          <li>
            Consistent High Quality <small
              >Taking pride in delivering high-quality, long-lasting work.</small
            >
          </li>
          <li>
            Analytical Thinking <small
              >Proficient in dissecting complex problems and finding innovative solutions.</small
            >
          </li>
          <li>
            Problem Solving <small
              >Skilled at identifying and resolving issues, both in code and mechanical systems.</small
            >
          </li>
          <li>Hardware & IT <small>Knowledgeable in PC hardware and rack systems.</small></li>
        </ul>
      </div>
      <div>
        <h3 class="display-6 mb-4">Other Skills & Hobbies</h3>
        <ul>
          <li>Cycling <small>Expert in various forms of cycling.</small></li>
          <li>
            Art <small>Proficient in drawing, playing music, and building sculptures.</small>
          </li>
          <li>Mechanic <small>Skilled in bike, car, and mechanical repair.</small></li>
          <li>Guitar Tech <small>Passionate about guitar maintenance.</small></li>
          <li>Electronics <small>Proficient in soldering, wiring, and PCB assembly.</small></li>
          <li>Woodworking <small>Experienced in working with wood.</small></li>
          <li>Hands-On <small>Ready to tackle tasks directly.</small></li>
          <li>Culinary Arts <small>Crafting delicious meals and BBQ specialties.</small></li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
<style lang="scss">
  .heading {
    margin-bottom: 7rem;
  }

  h3 {
    color: var(--orange-10);
  }

  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 3rem;
      font-size: 1.4rem;
      small {
        display: block;
        font-size: 80%;
      }
    }
  }

  .mb {
    margin-bottom: 6rem;
  }

  @media (min-width: 992px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        padding-right: 2rem;
      }
    }
  }
</style>
