---
import Layout from '../layouts/LayoutBasic.astro';
import NavSocial from '../components/NavSocial.astro';
---

<Layout title="Tentoden - Whio is Rich Slezak">
  <section id="nav-intro">
    <div class="container">
      <h1 class="display-3 mb-4">Who is Richard Slezak</h1>
      <p class="lead fs-4">
        I'd like to give my unique viewpoint on today's fast-changing work landscape. While
        employment history is frequently stressed, I believe it is critical to highlight personal
        abilities that are sometimes overlooked. To assist anybody wishing to recruit me, whether on
        a contract or full-time basis, I've compiled a summary of my qualifications and talents. I'm
        here to add a distinctive touch to any project, whether it's a single endeavor or a
        collaborative effort.
      </p>
    </div>
  </section>
  <section id="nav-attributes">
    <div class="container">
      <h3 class="display-5 mb-5">Personal Attributes</h3>
      <ul class="skills">
        <li>
          Harmony <small>Promotes peace, cooperation, consensus, and minimizes conflicts.</small>
        </li>
        <li>
          Relator <small
            >Building relationships, emphasizing loyalty, trust, and deep connections.</small
          >
        </li>
        <li>Compassionate <small>Treating everyone with kindness and empathy.</small></li>
        <li>
          Charismatic <small
            >Likable personality, easily forging connections, and fitting in with others.</small
          >
        </li>
        <li>
          Adaptive <small>Skilled at adjusting to different situations and environments.</small>
        </li>
        <li>
          Considerate <small>Always thinking about the well-being of those around me.</small>
        </li>
        <li>Empathetic <small>Able to understand and relate to others' perspectives.</small></li>
        <li>
          Instilling Confidence <small>Inspiring those around me to strive for their best.</small>
        </li>
        <li>
          Morale Boosting <small>Bringing positive energy and motivation to any situation.</small>
        </li>
        <li>
          Learning <small>An avid learner, continually expanding knowledge and skills.</small>
        </li>
        <li>Observant <small>Keenly aware of everything in my proximity.</small></li>
        <li>
          Forward Thinking <small
            >Always contemplating future possibilities and opportunities.</small
          >
        </li>
        <li>
          Deliberative <small
            >Makes careful, informed decisions by weighing options and pros and cons.</small
          >
        </li>
        <li>
          Multi-Tasking <small>Capable of efficiently handling multiple tasks simultaneously.</small
          >
        </li>
      </ul>
    </div>
  </section>
  <section id="nav-skills">
    <div class="container">
      <h3 class="display-5 mb-5">Skills & Expertise</h3>
      <ul class="skills">
        <li>Design <small>Proficient in graphic, web, UI, and UX design.</small></li>
        <li>
          Development <small
            >Creating everything from landing pages to full websites and SPAs.</small
          >
        </li>
        <li>
          Design-Dev Liaison <small
            >Adept at bridging the gap between design and development teams.</small
          >
        </li>
        <li>
          Bridge Tech and Non-Tech <small
            >Effective communication and translation between technical and non-technical
            stakeholders.</small
          >
        </li>
        <li>
          Attention to Detail <small
            >Ensuring that even the smallest details do not go unnoticed.</small
          >
        </li>
        <li>
          Customer Service <small>Excelling in client interactions to meet their needs.</small>
        </li>
        <li>
          Management <small>Proficient in client, peer, project, and product management.</small>
        </li>
        <li>
          Consistent High Quality <small
            >Taking pride in delivering high-quality, long-lasting work.</small
          >
        </li>
        <li>
          Analytical Thinking <small
            >Proficient in dissecting complex problems and finding innovative solutions.</small
          >
        </li>
        <li>
          Problem Solving <small
            >Skilled at identifying and resolving issues, both in code and mechanical systems.</small
          >
        </li>
      </ul>
    </div>
  </section>
  <section id="nav-hobbies">
    <div class="container">
      <h3 class="display-5 mb-5">Other Skills & Hobbies</h3>
      <ul class="skills">
        <li>
          Cycling <small>Expert in various disciplines of cycling most importantly MTB & BMX.</small
          >
        </li>
        <li>
          Music <small>Appreciative of diverse music styles and enjoy playing music.</small>
        </li>
        <li>
          Photography <small>Capturing what grabs my attention and enhancing images.</small>
        </li>
        <li>
          Video <small>Enjoy creating video edits, especially those related to bikes.</small>
        </li>
        <li>
          Mechanic <small
            >Hands-on with bike, auto, and mechanical repair, as well as building projects.</small
          >
        </li>
        <li>Guitar Tech <small>Passionate about guitar maintenance and upgrades.</small></li>
        <li>
          Electronics <small
            >Proficient in soldering, wiring, PCB assembly, and computer hardware.</small
          >
        </li>
        <li>Woodworking <small>Experienced in working with wood.</small></li>
        <li>
          Art <small>Enthusiast in various forms of arts, with a preference for illustration.</small
          >
        </li>
        <li>Cooking <small>Crafting delicious meals and BBQ specialties.</small></li>
      </ul>
    </div>
  </section>
  <section id="nav-social">
    <div class="container">
      <NavSocial />
    </div>
  </section>
</Layout>
<style lang="scss">
  section[id^='nav-'] {
    padding-bottom: 0;
  }

  h3 {
    color: var(--orange-10);
  }

  .skills {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 3rem;
      font-size: 1.4rem;
      small {
        display: block;
        font-size: 80%;
      }
    }
  }

  #nav-social {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: 768px) {
    #nav-social {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @media (min-width: 992px) {
    .skills {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        padding-right: 2rem;
      }
    }
  }
</style>
