---
import Layout from '../layouts/LayoutBasic.astro';
---

<Layout title="Tentoden - Whio is Rich Slezak">
  <section id="nav-intro">
    <div class="container">
      <h1 class="display-3 mb-4">Introduction</h1>
      <p class="lead fs-4">
        Hello, I'm Richard Slezak, and I want to share my unique perspective in today's
        fast-changing job market. While work history is often prioritized, I think it's essential to
        highlight personal skills that often go unnoticed. To help anyone looking to hire, I've put
        together a list of my attributes and abilities. Whether it's a solo project or working with
        a team, I'm here to bring a unique touch to the table.
      </p>
    </div>
  </section>
  <section id="nav-attributes">
    <div class="container">
      <h3 class="display-5 mb-5">Personal Attributes</h3>
      <ul class="skills">
        <li>
          Harmony <small>Promotes peace, cooperation, consensus, and minimizes conflicts.</small>
        </li>
        <li>
          Relator <small
            >Building relationships, emphasizing loyalty, trust, and deep connections.</small
          >
        </li>
        <li>Compassionate <small>Treating everyone with kindness and empathy.</small></li>
        <li>
          Charismatic <small
            >Likable personality, easily forging connections, and fitting in with others.</small
          >
        </li>
        <li>
          Adaptive <small>Skilled at adjusting to different situations and environments.</small>
        </li>
        <li>
          Considerate <small>Always thinking about the well-being of those around me.</small>
        </li>
        <li>Empathetic <small>Able to understand and relate to others' perspectives.</small></li>
        <li>
          Instilling Confidence <small>Inspiring those around me to strive for their best.</small>
        </li>
        <li>
          Morale Boosting <small>Bringing positive energy and motivation to any situation.</small>
        </li>
        <li>
          Learning <small>An avid learner, continually expanding knowledge and skills.</small>
        </li>
        <li>Observant <small>Keenly aware of everything in my proximity.</small></li>
        <li>
          Forward Thinking <small
            >Always contemplating future possibilities and opportunities.</small
          >
        </li>
        <li>
          Deliberative <small
            >Makes careful, informed decisions by weighing options and pros and cons.</small
          >
        </li>
        <li>
          Multi-Tasking <small>Capable of efficiently handling multiple tasks simultaneously.</small
          >
        </li>
      </ul>
    </div>
  </section>
  <section id="nav-skills">
    <div class="container">
      <h3 class="display-5 mb-5">Skills & Expertise</h3>
      <ul class="skills">
        <li>Design <small>Proficient in graphic, web, UI, and UX design.</small></li>
        <li>
          Development <small
            >Creating everything from landing pages to full websites and SPAs.</small
          >
        </li>
        <li>
          Design-Dev Liaison <small
            >Adept at bridging the gap between design and development teams.</small
          >
        </li>
        <li>
          Bridge Tech and Non-Tech <small
            >Effective communication and translation between technical and non-technical
            stakeholders.</small
          >
        </li>
        <li>
          Attention to Detail <small
            >Ensuring that even the smallest details do not go unnoticed.</small
          >
        </li>
        <li>
          Customer Service <small>Excelling in client interactions to meet their needs.</small>
        </li>
        <li>
          Management <small>Proficient in client, peer, project, and product management.</small>
        </li>
        <li>
          Consistent High Quality <small
            >Taking pride in delivering high-quality, long-lasting work.</small
          >
        </li>
        <li>
          Analytical Thinking <small
            >Proficient in dissecting complex problems and finding innovative solutions.</small
          >
        </li>
        <li>
          Problem Solving <small
            >Skilled at identifying and resolving issues, both in code and mechanical systems.</small
          >
        </li>
      </ul>
    </div>
  </section>
  <section id="nav-hobbies">
    <div class="container">
      <h3 class="display-5 mb-5">Other Skills & Hobbies</h3>
      <ul class="skills">
        <li>
          Cycling <small>Expert in various disciplines of cycling most importantly MTB & BMX.</small
          >
        </li>
        <li>
          Music <small>Appreciative of diverse music styles and enjoy playing music.</small>
        </li>
        <li>
          Photography <small>Capturing what grabs my attention and enhancing images.</small>
        </li>
        <li>
          Video <small>Enjoy creating video edits, especially those related to bikes.</small>
        </li>
        <li>
          Mechanic <small
            >Hands-on with bike, auto, and mechanical repair, as well as building projects.</small
          >
        </li>
        <li>Guitar Tech <small>Passionate about guitar maintenance and upgrades.</small></li>
        <li>
          Electronics <small
            >Proficient in soldering, wiring, PCB assembly, and computer hardware.</small
          >
        </li>
        <li>Woodworking <small>Experienced in working with wood.</small></li>
        <li>
          Art <small>Enthusiast in various forms of arts, with a preference for illustration.</small
          >
        </li>
        <li>Cooking <small>Crafting delicious meals and BBQ specialties.</small></li>
      </ul>
    </div>
  </section>
  <section id="nav-social">
    <div class="container">
      <ul class="social-links">
        <li>
          <a href="https://github.com/richslezak" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              ></path>
            </svg><span class="visually-hidden">GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/richslezak" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-vimeo"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.992 4.204c-.071 1.556-1.158 3.687-3.262 6.393-2.175 2.829-4.016 4.243-5.522 4.243-.933 0-1.722-.861-2.367-2.583L3.55 7.523C3.07 5.8 2.556 4.94 2.007 4.94c-.118 0-.537.253-1.254.754L0 4.724a209.56 209.56 0 0 0 2.334-2.081c1.054-.91 1.845-1.388 2.373-1.437 1.243-.123 2.01.728 2.298 2.553.31 1.968.526 3.19.646 3.666.36 1.631.756 2.446 1.186 2.445.334 0 .836-.53 1.508-1.587.671-1.058 1.03-1.863 1.077-2.415.096-.913-.263-1.37-1.077-1.37a3.022 3.022 0 0 0-1.185.261c.789-2.573 2.291-3.825 4.508-3.756 1.644.05 2.419 1.117 2.324 3.2z"
              ></path>
            </svg><span class="visually-hidden">Vimeo</span>
          </a>
        </li>
        <!-- <li>
          <a href="https://www.youtube.com/@richslezak" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-youtube"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
              ></path>
            </svg><span class="visually-hidden">YouTube</span>
          </a>
        </li> -->
        <li>
          <a href="https://www.strava.com/athletes/552826" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-strava"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.731 0 2 9.125h2.788L6.73 5.497l1.93 3.628h2.766L6.731 0zm4.694 9.125-1.372 2.756L8.66 9.125H6.547L10.053 16l3.484-6.875h-2.112z"
              ></path>
            </svg><span class="visually-hidden">Strava</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/richslezak" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-instagram"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
              ></path>
            </svg><span class="visually-hidden">Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://www.richslezak.com/" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              ></path>
            </svg><span class="visually-hidden">Rich Slezak</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
<style lang="scss">
  section[id^='nav-'] {
    padding-bottom: 0;
  }

  h3 {
    color: var(--orange-10);
  }

  .skills {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 3rem;
      font-size: 1.4rem;
      small {
        display: block;
        font-size: 80%;
      }
    }
  }

  #nav-social {
    padding-top: 3rem;
    padding-bottom: 3rem;
    ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
    }
    svg {
      font-size: 1.8rem;
      color: var(--orange-10);
    }
  }

  @media (min-width: 768px) {
    #nav-social {
      padding-top: 6rem;
      padding-bottom: 6rem;
      svg {
        font-size: 2.5rem;
      }
    }
  }

  @media (min-width: 992px) {
    .skills {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        padding-right: 2rem;
      }
    }
  }
</style>
