---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tentoden">
  <section
    class="hero d-flex flex-column justify-content-center align-items-center text-center min-vh-100"
  >
    <div class="px-2 text-center">
      <h1 class="display-2 lh-1 mb-3">
        <span>Thank You</span>
      </h1>
      <div class="headline">
        <p class="lead mb-4 fs-3">Your form submission has been received.</p>
      </div>
      <a href="/" class="btn btn-primary btn-md px-4 me-sm-2">Back to Tentoden</a>
    </div>
  </section>
  <style lang="scss">
    .hero {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100vh;
        background-image: url('/japanese-sunrise.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        opacity: 0.5;
      }
      .headline {
        max-width: 280px;
        margin: 0 auto;
      }
    }

    div {
      z-index: 2;
    }

    @media (min-width: 500px) {
      .hero {
        .headline {
          max-width: 100%;
        }
      }
    }
  </style>
</Layout>
<script>
  setTimeout(() => {
    window.location.href = '/';
  }, 5000);
</script>
