<section id="nav-about" class="min-vh-100">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-12 col-md-10 col-xl-8">
        <h2 class="display-4 mb-0">What is</h2>
        <h2 class="display-1 mb-4">Tentoden</h2>
        <p class="lead mb-4 fs-2 text-start">
          The words 'Tento den' derive from the Czech language and translate to 'this day',
          encapsulating the notion of embracing the present moment, as in: '<i
            >Make this day your day every single day</i
          >.' I embody this philosophy in all my endeavors. I'm Richard Slezak, a digital designer
          and developer based in Boston, MA, and the founder of Tentoden. This website is my
          portfolio, where I share my journey in design and development.
        </p>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .display-1 {
    line-height: 0.8;
    color: var(--orange-10);
  }
</style>
