<section id="nav-about" class="min-vh-100">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-12 col-md-10 col-xl-8 text-center">
        <h2 class="display-4 mb-4">What is <span>Tentoden</span></h2>
        <p class="lead mb-4 fs-4">
          "Tento den" translates to "this day," encapsulating the notion of embracing the present
          moment as in “What you do today is important because you are exchanging a day of your life
          for it. When tomorrow comes, this day will be gone forever. In its place is something that
          you have left behind. Let it be something good.” I embody this philosophy in all my
          endeavors. Hi my name is Richard Slezak, I am digital designer and developer based out of
          Boston, MA and founder of Tentoden. This website servers as my portfolio, highlighting my
          design and development expertise and the services I provide.
        </p>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  span {
    color: var(--orange-10);
  }
</style>
