<section id="nav-about" class="min-vh-100">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-12 col-md-10 col-xl-8 text-center">
        <h2 class="display-4 mb-4">What is Tentoden</h2>
        <p class="lead mb-4 fs-4">
          "Tento den" translates to "this day," encapsulating the notion of embracing the present
          moment as in “What you do today is important because you are exchanging a day of your life
          for it. When tomorrow comes, this day will be gone forever. In its place is something that
          you have left behind. Let it be something good.” I embody this philosophy in all my
          endeavors. Hi my name is Richard Slezak, I am digital designer and developer based out of
          Boston, MA and founder of Tentoden. This website servers as my portfolio, highlighting my
          design and development expertise and the services I provide.
        </p>
      </div>
    </div>

    <div class="row callouts">
      <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
        <div
          class="icon mb-3 d-flex flex-column-reverse flex-md-row align-items-center justify-content-center justify-content-md-start"
        >
          <h3>Design</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-bezier"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"
            ></path>
            <path
              d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"
            ></path>
          </svg>
        </div>

        <p class="text-body-secondary text-center text-md-start mb-5 pe-md-3 pe-lg-5 fs-5">
          From captivating graphic design to seamless user interface and user experience solutions,
          all the way to stunning web design, Tentoden has your visual and digital needs covered.
        </p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
        <div
          class="icon mb-3 d-flex flex-column-reverse flex-md-row align-items-center justify-content-center justify-content-md-start"
        >
          <h3>Development</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-code-slash"
            viewBox="0 0 16 16"
          >
            <path
              d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"
            ></path>
          </svg>
        </div>

        <p class="text-body-secondary text-center text-md-start mb-5 pe-md-3 pe-lg-5 fs-5">
          At Tentoden, our development services are designed to cater to your every digital need,
          from creating eye-catching single landing pages to crafting complete, feature-rich
          websites.
        </p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-md-0">
        <div
          class="icon mb-3 d-flex flex-column-reverse flex-md-row align-items-center justify-content-center justify-content-md-start"
        >
          <h3>Work</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-cloud-arrow-up"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"
            ></path>
            <path
              d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
            ></path>
          </svg>
        </div>

        <p class="text-body-secondary text-center text-md-start mb-0 pe-md-3 pe-lg-5 fs-5">
          Tentoden's work ranges from graphic design such as logos and printable graphics to
          building marketing landing pages and full websites, and everything in between.
        </p>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .icon {
    h3 {
      margin: 0;
    }
    svg {
      font-size: 3rem;
      color: var(--orange-10);
    }
  }
  .callouts p {
    padding-left: 15%;
    padding-right: 15%;
  }
  @media (min-width: 768px) {
    .icon {
      h3 {
        margin-right: 0.7rem;
      }
    }
    .callouts p {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>
