<form
  name="contact"
  method="POST"
  data-netlify="true"
  data-netlify-honeypot="bot-field"
  action="/success/"
>
  <input name="bot-field" class="d-none" />
  <input type="hidden" name="subject" value="New Lead from Tentoden" />

  <div class="form-floating mb-3">
    <input
      type="text"
      name="name"
      class="form-control"
      id="floatingName"
      placeholder="Joe P. Smith"
    />
    <label for="floatingName">Your Name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="email"
      name="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email Address</label>
  </div>
  <p class="mb-0"><em>Select services needed</em></p>
  <div class="row">
    <div class="col-6">
      <div class="form-check text-start my-3">
        <input
          name="UX Design"
          class="form-check-input"
          type="checkbox"
          value="UX Design Services Requested"
          id="flexCheckUxDesign"
        />
        <label class="form-check-label" for="flexCheckUxDesign">UX Design</label>
      </div>
      <div class="form-check text-start my-3">
        <input
          name="UI Design"
          class="form-check-input"
          type="checkbox"
          value="UI Design Services Requested"
          id="flexCheckUIDesign"
        />
        <label class="form-check-label" for="flexCheckUIDesign"> UI Design</label>
      </div>
      <div class="form-check text-start my-3">
        <input
          name="Graphic Design"
          class="form-check-input"
          type="checkbox"
          value="Graphic Design Services Requested"
          id="flexCheckGraphicDesign"
        />
        <label class="form-check-label" for="flexCheckGraphicDesign"> Graphic Design</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-check text-start my-3">
        <input
          name="Web Design"
          class="form-check-input"
          type="checkbox"
          value="Web Design Services Requested"
          id="flexCheckWebDesign"
        />
        <label class="form-check-label" for="flexCheckWebDesign">Web Design</label>
      </div>
      <div class="form-check text-start my-3">
        <input
          name="Web Development"
          class="form-check-input"
          type="checkbox"
          value="Web Development Services Requested"
          id="flexCheckWebDevelopment"
        />
        <label class="form-check-label" for="flexCheckWebDevelopment"
          >Web Dev<span class="d-none d-sm-inline">elopment</span>
        </label>
      </div>
      <div class="form-check text-start my-3">
        <input
          name="Consulting"
          class="form-check-input"
          type="checkbox"
          value="Consulting Services Requested"
          id="flexCheckConsulting"
        />
        <label class="form-check-label" for="flexCheckConsulting">Consulting</label>
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <textarea
      name="message"
      class="form-control"
      id="floatingTextarea"
      placeholder="Leave your additional notes"></textarea>
    <label for="floatingTextarea">Additional Notes</label>
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Send</button>
</form>

<style>
  input[type='checkbox'] {
    cursor: pointer;
  }
</style>
