---
import ContactForm from './ContactForm.astro';
---

<section id="nav-contact" class="min-vh-100">
  <div class="container">
    <h2 class="display-6">Contact</h2>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-7">
        <p class="lead">
          You are here for a reason so contact us today and lets get your project off the ground.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusamus vitae fuga
          assumenda quia culpa dignissimos exercitationem quam qui dolorem similique! Odio soluta
          vero voluptatum id amet, ipsam hic temporibus.
        </p>
      </div>
      <div class="col-12 col-md-7 col-lg-5">
        <ContactForm />
      </div>
    </div>
  </div>
</section>
