<section id="nav-deployment" class="min-vh-100">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <h2 class="display-6 mb-4">Deployment</h2>
        <p class="lead mb-5">
          Our deployment services offer a complete solution for your project, including domain
          management, web hosting with multiple providers, and source control for easy access to
          your project. With our services, you can ensure a smooth and efficient deployment of your
          web sites and applications.
        </p>
      </div>
    </div>

    <div class="row align-itemns-center pt-5">
      <ul class="list-unstyled">
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">Source Control</h4>
            <p class="text-body-secondary">
              Source control, like GitHub, allows for easy management and tracking of changes to
              your codebase, enabling collaboration and ensuring code quality and stability.
            </p>
          </div>
        </li>
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">Domain Management</h4>
            <p class="text-body-secondary">
              Domain management involves registering, renewing, and managing domain names for your
              website. It is essential for establishing your online presence and ensuring that your
              website is easily accessible to your audience.
            </p>
          </div>
        </li>
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">Web Hosting</h4>
            <p class="text-body-secondary">
              Web hosting provides a platform for your website to be accessible on the internet. It
              is essential for ensuring your website is available to your audience and runs smoothly
            </p>
          </div>
        </li>
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">CI/CD</h4>
            <p class="text-body-secondary">
              Continuous Integration and Continuous Deployment automates the process of building,
              testing, and deploying code changes, ensuring that your application is always
              up-to-date and running smoothly.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<style lang="scss">
  .icon {
    h3 {
      margin: 0 0.7rem 0 0;
    }
    svg {
      font-size: 1.5rem;
      color: var(--orange-10);
    }
  }
  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        margin-bottom: 3rem;
        p {
          padding-right: 4rem;
        }
      }
    }
  }
</style>
