<section id="nav-design" class="min-vh-100">
  <div class="container">
    <h2 class="display-6">Design</h2>
    <div class="row align-items-center">
      <div class="col-12 col-md-7 col-lg-6">
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed velit fuga voluptas!
          Incidunt in animi nesciunt culpa hic voluptatem optio! Asperiores nostrum laudantium vel
          veritatis, beatae repudiandae recusandae nihil enim, dolor dolorum hic quidem quis
          adipisci aperiam tempore iure.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur expedita
          repellendus. Nemo, possimus. Nulla, consectetur. Inventore unde mollitia id iusto odit
          accusamus aliquid dolorem quasi eligendi, quas vel dignissimos animi quos eos aspernatur
          cum minus, iste eveniet fugiat doloribus, officiis expedita. Laborum nostrum veritatis
          cupiditate rem numquam illum earum alias amet nesciunt debitis maiores inventore quibusdam
          quisquam commodi
        </p>
      </div>
      <div class="col-12 col-md-5 col-lg-6">
        <div class="img-skewed img-skewed-start">
          <img
            src="screens/figma-app.webp"
            class="img-fluid rounded-1 shadow-lg img-skewed-item"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
