<section id="nav-design" class="min-vh-100">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-12 col-md-7">
        <h2 class="display-6">Design</h2>
        <p class="lead mb-5">
          Elevate your brand with our expert design services. Transform ideas into captivating
          visuals. Our design services offer professional graphic design solutions to help you
          create visually appealing and effective designs for your business needs.
        </p>
      </div>
      <div class="col-12 col-md-5">
        <div class="img-skewed img-skewed-start">
          <img
            src="screens/figma-app.webp"
            class="img-fluid rounded-1 shadow-lg img-skewed-item"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="row align-itemns-center pt-5">
      <ul class="list-unstyled">
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">Graphic Design</h4>
            <p class="text-body-secondary">
              Our graphic design services provide creative and professional design solutions to help
              you communicate your brand message effectively and stand out in a crowded market.
            </p>
          </div>
        </li>
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">Web Design</h4>
            <p class="text-body-secondary">
              Our web design services provide modern and responsive designs that are tailored to
              your brand and business needs, ensuring a seamless user experience across all devices.
            </p>
          </div>
        </li>
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">UI Design</h4>
            <p class="text-body-secondary">
              Our UI design services focus on creating visually appealing and user-friendly
              interfaces that enhance the user experience and drive engagement. Let us help you
              create a stunning digital product.
            </p>
          </div>
        </li>
        <li class="d-flex mb-5">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4 class="mb-1">UX Design</h4>
            <p class="text-body-secondary">
              Our UX design services focus on creating intuitive and engaging digital experiences
              that delight users and drive business success. Let us help you elevate your product to
              the next level.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<style lang="scss">
  .icon {
    h3 {
      margin: 0 0.7rem 0 0;
    }
    svg {
      font-size: 1.5rem;
      color: var(--orange-10);
    }
  }
  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
    // Image Skewed
    .img-skewed {
      perspective: 1500px;
    }

    .img-skewed-start {
      perspective-origin: left center;
    }

    .img-skewed-start .img-skewed-item {
      transform: rotateY(calc(35deg * -1)) rotateX(15deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .img-skewed-end {
      perspective-origin: right center;
    }

    .img-skewed-end .img-skewed-item {
      transform: rotateY(35deg) rotateX(15deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        margin-bottom: 3rem;
        p {
          padding-right: 4rem;
        }
      }
    }
  }
</style>
