---
import Callout from './Callout.astro';
---

<section id="nav-design" class="min-vh-100">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-12 col-md-7">
        <div class="title mb-4 d-flex align-items-center">
          <h2 class="display-4">Design</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-bezier"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"
            ></path>
            <path
              d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"
            ></path>
          </svg>
        </div>
        <p class="lead mb-5 fs-4 pe-md-5">
          Elevate your brand with my design expertise. I love transforming ideas into captivating
          visuals. My design services are all about creating professional and visually appealing
          designs that work for your business.
        </p>
      </div>
      <div class="col-12 col-md-5 animate-on-scroll">
        <div class="img-skewed img-skewed-start">
          <img src="Design.webp" class="img-fluid rounded-1 shadow-lg img-skewed-item" alt="..." />
        </div>
      </div>
    </div>
    <div class="row align-itemns-center pt-5">
      <ul class="list-unstyled">
        <li>
          <Callout
            title="Graphic Design"
            text="My goal is to support you in effectively conveying your brand's message, helping you shine in a crowded market and connect with your target audience."
          />
        </li>
        <li>
          <Callout
            title="Web Design"
            text="Crafting modern, responsive designs tailored to your brand and business, my focus is delivering a seamless user experience across all devices."
          />
        </li>
        <li>
          <Callout
            title="UI Design"
            text="The emphasis here is on crafting visually appealing, user-friendly interfaces that elevate the user experience and result in captivating digital products."
          />
        </li>
        <li>
          <Callout
            title="UX Design"
            text="For UX design, my expertise centers on creating user-friendly, captivating digital experiences that engage users and drive business success."
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<style lang="scss">
  .title {
    h2 {
      margin-right: 0.7rem;
    }
    svg {
      font-size: 3rem;
      color: var(--orange-10);
    }
  }

  ul {
    margin-bottom: 0;
    li {
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        margin-bottom: 3rem;
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .title {
      svg {
        font-size: 4rem;
      }
    }
  }
</style>
