<section id="nav-development" class="min-vh-100">
  <div class="container">
    <div class="row align-items-center pb-lg-5">
      <div class="col-12 col-md-6 col-lg-7 order-md-2">
        <div class="title mb-4 d-flex align-items-center">
          <h2 class="display-4">Development</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-code-slash"
            viewBox="0 0 16 16"
          >
            <path
              d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"
            ></path>
          </svg>
        </div>
        <p class="lead mb-5 fs-4">
          At Tentoden, we're your trusted partner in crafting digital success. We work closely with
          our clients to understand their business needs and deliver tailored solutions that meet
          their goals. Whether you need a simple landing page or a complex web application, we have
          the expertise to bring your vision to life.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-md-1">
        <div class="img-skewed img-skewed-end pe-lg-5">
          <img
            src="Development-LT.webp"
            class="img-fluid rounded-1 shadow-lg img-skewed-item"
            alt="Tentoden Development Image"
          />
        </div>
      </div>
    </div>
    <div class="pt-5">
      <p class="lead mb-5 fs-4">
        Our commitment extends from crafting captivating landing pages that leave a lasting
        impression and designing sleek websites that showcase your unique brand identity. If you
        require a WordPress website for flexible content management or a robust e-commerce presence
        on platfroms such as Shopify and Squarespace, we've got the expertise to create tailored
        solutions that drive results. We offer a complete solution for your project, including
        domain management, web hosting with multiple providers, and source control for easy access
        to your project. Count on us to ensure your online presence stands out from the crowd.
      </p>
      <ul class="list-unstyled">
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>Landing Pages</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>Websites</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>E-Commerce</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>Apps</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>Source Control</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>Domain Names</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>Web Hosting</h4>
          </div>
        </li>
        <li class="d-flex">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
              ></path>
            </svg>
          </div>

          <div class="ms-2">
            <h4>SSL certificates</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<style lang="scss">
  section {
    background-color: var(--slate-5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2rem));
  }

  .title {
    h2 {
      margin-right: 0.7rem;
    }
    svg {
      font-size: 3rem;
      color: var(--orange-10);
    }
  }

  .icon {
    h3 {
      margin: 0 0.7rem 0 0;
    }
    svg {
      font-size: 1.5rem;
      color: var(--orange-10);
    }
  }

  ul {
    li {
      margin-bottom: 1.5rem;
      h4 {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 400px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
      }
    }
  }

  @media (min-width: 768px) {
    section {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5rem));
    }
  }

  @media (min-width: 992px) {
    .title {
      svg {
        font-size: 4rem;
      }
    }

    ul {
      li {
        flex-basis: 25%;
      }
    }
  }
</style>
