---
import Greeting from './Greeting.jsx';
---

<section
  class="hero d-flex flex-column justify-content-center align-items-center text-center min-vh-100"
>
  <div class="px-2 text-center">
    <h1 class="lh-1 mb-3">
      <span>Tentoden</span>
    </h1>
    <div class="headline mb-4">
      <Greeting
        client:load
        messages={[
          'The future depends on what you do today.',
          'The best way to predict the future is to create it.',
          'Make this day your day every single day.',
          'If you want it to happen, make it happen now. Make "someday" today.',
          'The only way to do great work is to love what you do.',
        ]}
      />
    </div>
    <div class="buttons">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="#nav-contact" class="btn btn-primary btn-md px-4 me-sm-2">Contact</a>
        <a href="#nav-work" class="btn btn-primary btn-md px-4">Work</a>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .hero {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100vh;
      background-image: url('/japanese-sunrise.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      opacity: 0.5;
    }
    h1 {
      font-size: 4.25rem;
      font-weight: 300;
    }
    .headline {
      max-width: 300px;
      margin: 0 auto;
      font-size: 1.4rem;
      font-weight: 300;
    }
    .buttons {
      max-width: 260px;
      margin: 0 auto;
    }
  }

  div {
    z-index: 2;
  }

  @media (min-width: 576px) {
    .hero {
      h1 {
        font-size: 6rem;
      }
      .headline {
        max-width: 100%;
        font-size: 1.5rem;
      }
      .buttons {
        max-width: 100%;
        .btn {
          width: 175px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .hero {
      .headline {
        font-size: 1.75rem;
      }
    }
  }
</style>
