<div
  class="hero d-flex flex-column justify-content-center align-items-center text-center min-vh-100"
>
  <div class="px-2 text-center">
    <h1 class="display-2 lh-1 mb-3">
      Welcome to <span>Tentoden</span>
    </h1>
    <div class="headline">
      <p class="lead mb-4 fs-3">Building your Online Presence, Assets and Brand Identity.</p>
    </div>
    <div class="buttons">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="#nav-contact" class="btn btn-primary btn-md px-4 me-sm-2">Contact</a>
        <a href="#nav-about" class="btn btn-primary btn-md px-4">Services</a>
      </div>
    </div>
  </div>
</div>
<style lang="scss">
  .hero {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100vh;
      // background-image: url('doug-scott.jpeg');
      // background-image: url('Himalayas.jpeg');
      background-image: url('/japanese-sunrise.jpg');
      // background-image: linear-gradient(
      //     45deg,
      //     hsla(168, 85%, 52%, 0.7),
      //     hsla(263, 88%, 45%, 0.7) 100%
      //   ),
      //   url('/japanese-sunrise.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      opacity: 0.5;
    }
    .headline {
      max-width: 350px;
      margin: 0 auto;
    }
    .buttons {
      max-width: 260px;
      margin: 0 auto;
    }
  }

  div {
    z-index: 2;
  }

  @media (min-width: 576px) {
    .hero {
      .buttons {
        max-width: 300px;
      }
    }
  }

  @media (min-width: 768px) {
    .hero {
      .headline {
        max-width: 400px;
      }
    }
  }
</style>
