---
import Greeting from './Greeting.jsx';
import ScrollDownIcon from './ScrollDownIcon.astro';
---

<section class="hero d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="headline mb-4">
    <Greeting
      client:load
      messages={[
        'The future depends on what you do today',
        'The best way to predict the future is to create it',
        'Make this day your day every single day',
        'Seize the day Make it ridiculously amazing',
        'Today is your opportunity to build the tomorrow you want',
        'If you want it to happen make it happen now Make someday today',
        'Today is the day to chase your dreams and turn them into reality',
      ]}
    />
  </div>
  <div id="scroll-container">
    <ScrollDownIcon anchor="#nav-about" />
  </div>
</section>

<style lang="scss">
  .hero {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100vh;
      background-image: url('/japanese-sunrise.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      opacity: 0.5;
    }
    .headline {
      max-width: 300px;
      margin: 0 auto;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 400;
      opacity: 0;
      line-height: 0.5;
      filter: blur(4px);
      animation: fade-in 0.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    @keyframes fade-in {
      100% {
        opacity: 1;
        line-height: 1.1;
        filter: blur(0);
      }
    }
    #scroll-container {
      position: absolute;
      bottom: 2rem;
    }
  }

  @media (min-width: 576px) {
    .hero {
      .headline {
        max-width: 85%;
        font-size: 4rem;
      }
    }
  }

  @media (min-width: 992px) {
    .hero {
      .headline {
        font-size: 5.5rem;
      }
    }
  }

  @media (min-width: 1200px) {
    .hero {
      .headline {
        font-size: 7rem;
      }
    }
  }
</style>
