---
import Greeting from './Greeting.jsx';
import ScrollDownIcon from './ScrollDownIcon.astro';
---

<section
  class="hero d-flex flex-column justify-content-center align-items-center text-center min-vh-100"
>
  <div class="px-2 text-center">
    <h1 class="lh-1 mb-3">
      <span>Tentoden</span>
    </h1>
    <div class="headline mb-4">
      <Greeting
        client:load
        messages={[
          'The future depends on what you do today.',
          'The best way to predict the future is to create it.',
          'Make this day your day every single day.',
          'Seize the day. Make it ridiculously amazing.',
          'Today is your opportunity to build the tomorrow you want.',
          'If you want it to happen, make it happen now. Make "someday" today.',
          'The only way to do great work is to love what you do.',
          'Today is the day to chase your dreams and turn them into reality.',
        ]}
      />
    </div>
  </div>
  <div id="scroll-container">
    <ScrollDownIcon anchor="#nav-about" />
  </div>
</section>

<style lang="scss">
  .hero {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100vh;
      background-image: url('/japanese-sunrise.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      opacity: 0.5;
    }
    h1 {
      font-size: 4.25rem;
      font-weight: 300;
    }
    .headline {
      max-width: 300px;
      min-height: 110px;
      margin: 0 auto;
      font-size: 1.4rem;
      font-weight: 300;
      opacity: 0;
      filter: blur(4px);
      animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    @keyframes fade-in {
      100% {
        opacity: 1;
        filter: blur(0);
      }
    }
    #scroll-container {
      position: absolute;
      bottom: 2rem;
    }
  }

  div {
    z-index: 2;
  }

  @media (min-width: 576px) {
    .hero {
      h1 {
        font-size: 6rem;
      }
      .headline {
        max-width: 100%;
        font-size: 1.5rem;
        min-height: 80px;
      }
    }
  }

  @media (min-width: 992px) {
    .hero {
      .headline {
        font-size: 1.75rem;
        min-height: auto;
      }
    }
  }
</style>
