---
import ColorModeToggler from './ColorModeToggler.astro';
---

<nav class="navbar navbar-expand-md fixed-top" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tentoden</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close2 close-btn nav-link2"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#nav-about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nav-design">Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nav-development">Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nav-deployment">Deployment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nav-contact">Contact</a>
          </li>
          <li class="nav-item">
            <ColorModeToggler />
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<style lang="scss">
  .navbar {
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .offcanvas-header {
      justify-content: end;
      .close-btn {
        display: flex;
        box-sizing: content-box;
        font-size: 4rem;
        padding: 0;
        background: none;
        border: 0;
      }
    }
    @media (max-width: 767px) {
      .offcanvas {
        .navbar-brand {
          font-size: 2rem;
        }
        .nav-link {
          font-size: 1.75rem;
        }
      }
    }
  }
</style>
