---
import ImgCard from './ImgCard.astro';
---

<section id="nav-work" class="min-vh-100">
  <div class="container mb-5">
    <h2 class="display-4 mb-4">Work</h2>
    <div class="row" data-masonry='{"percentPosition": true }'>
      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/tentoden.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/sim.webp" href="https://www.sound-in-motion.com/" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/autumnJam.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/figma-app.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/figma-sitemap.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/joe-the-pitbull.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/figma-ux.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/plp-flyer.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/cardone.webp" href="https://www.cardoneboston.com/" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/figma-sitemap-sm.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/plp-logo.webp" />
      </div>

      <div class="col-sm-6 col-lg-4 mb-4">
        <ImgCard imgsrc="projects/numbers-game.webp" />
      </div>
    </div>
  </div>
</section>
