---
import ImgCard from './ImgCard.astro';
---

<section id="nav-work" class="min-vh-100">
  <div class="container mb-5">
    <h2 class="display-4 mb-4">Work</h2>
    <div class="row" data-masonry='{"percentPosition": true }'>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/cardone.webp" href="https://www.cardoneboston.com/" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/autumnJam.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/figma-app.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/figma-sitemap.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/tentoden.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/numbers-game.webp" href="https://roos-number-game.netlify.app/" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/sim.webp" href="https://www.sound-in-motion.com/" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/joe-the-pitbull.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/plp-flyer.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/figma-ux.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/baja-chef.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/plp-logo-skull.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/bu-tennis.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/canfield.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/cd-burn.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/dj416.webp" />
      </div>

      <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/flower-child.webp" />
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/hypaspace-cd-inlet.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/hypaspace-cd-release.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/hypaspace-flyer-2.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/hypaspace-flyer.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/james-joseph-studio.webp" />
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <ImgCard imgsrc="projects/shirt.webp" />
      </div>
    </div>
  </div>
</section>
