---
import ReviewItem from './ReviewItem.astro';
---

<div class="carousel slide carousel-fade2" data-bs-ride="carousel" data-bs-interval="7000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex flex-column2 justify-content-center align-items-center2">
        <ReviewItem
          comment="I just wanted to express my appreciation for the incredible work you did developing our new website. Its modern design, layout and ergonomic navigation is exactly what we were looking for."
          name="Derek Kenney"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column2 justify-content-center align-items-center2">
        <ReviewItem
          comment="Rich created and amazing website for my restaurant. Rich was extremely professional and efficient, and helped us to expand our base of customers and connect with them in a better way. Thank you Rich."
          name="Eswin Corado"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column2 justify-content-center align-items-center2">
        <ReviewItem
          comment="Rich is one the best people I have yet to work with. Looking forward to working together on the next phase of my project."
          name="Courtney Kovacevich"
        />
      </div>
    </div>
  </div>
</div>
