---
import '../styles/custom.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from '../config';
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script src="../scripts/color-modes.js"></script>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="keywords" content={SITE_KEYWORDS} />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script>
      import '../scripts/custom.js';
      window.onload = function () {
        const script = document.createElement('script');
        script.src = 'https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js';
        document.body.appendChild(script);
      };
    </script>
  </body>
</html>
<!-- <style lang="scss" is:global></style> -->
